@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height:100vh; 
  font-family: 'SF Pro Display', sans-serif;
  background-color: black;
}

.navbar-container {
  width: 75%;
  align-items: center;
   background-color: rgba(255, 255, 255, 0.1); /* genomskinlig vit */
  backdrop-filter: blur(10px); /* glassmorphism-effekt */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 10px; 
  border-radius: 35px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115px;
  list-style: none;
  font-size: 19px;
  font-weight: 400 ;
}

.sticky{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.logo-img {
  height: 150px;
  margin-top: -30px;
  margin-bottom: -40px;  
  width: auto;
  object-fit: contain;
}

.logo-container {
  display: flex;
  align-items: center;
}

.front-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 8vh; 
  padding: 0 20px; 
}

.name{
  /* color: #5856D6; */
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #8e2de2, #4a00e0, #8e2de2);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* gör texten genomskinlig så gradienten syns */
  animation: shine 20s linear infinite;  
  line-height: 1;
  position: relative;
  top: 0.25em;
  margin-left: 0.3em; /* space mellan i'm och mitt namn */
}

.name span {
  display: inline-block;
  animation: pop 3s ease-in-out infinite;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
  background: inherit;
  margin-right: 12px;
  vertical-align: baseline; /* följer textens grundlinje */
  transform-origin: bottom;
  

}

.name span:nth-child(1) { animation-delay: 0s;}
.name span:nth-child(2) { animation-delay: 0.6s;}
.name span:nth-child(3) { animation-delay: 1.2s;}
.name span:nth-child(4) { animation-delay: 1.8s;}
.name span:nth-child(5) { animation-delay: 2.4s;}


@keyframes shine {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}



@keyframes pop {
  0%, 100% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.5);
  }
}

.hello {
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
  border: 2px dotted white;
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
  width: fit-content;/* Låter höjden anpassas naturligt */
  height: auto; /* Låter höjden anpassas naturligt */
}

.intro-text {
  display: block;
  justify-content: center;  /*Flyttar till mitten*/
  font-size: 50px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

.bubble-container {
  position: absolute;
  margin-top: 380px;
  right: 10;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: transparent;
  z-index: -1; /* lägg bakom memoji */
  box-shadow: 
    0 0 40px 20px rgba(148, 42, 242, 0.6),
    0 0 80px 40px rgba(42, 148, 242, 0.4),
    0 0 120px 60px rgba(242, 148, 42, 0.3);
}

.bubble1{
  position: absolute;
  top: 50px;
  left: 60px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(148, 42, 242, 0.769), 0 0 15px rgba(242, 42, 148, 0.4);
  z-index: 1;
  animation: float 10s ease-in infinite;
}

.bubble2 {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(68, 141, 205, 0.948), 0 0 30px rgba(238, 235, 233, 0.3);
  animation: float 18s ease-in infinite;
}

.bubble3 {
  position: absolute;
  bottom:300px;
  right: 90px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(183, 112, 218, 0.948), 0 0 60px rgba(226, 205, 237, 0.3);
  animation: float 9s ease-in infinite;
}

.bubble4 {
  position: absolute;
  top: 400px;
  left: 170px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(11, 134, 201, 0.948), 0 0 60px rgba(226, 205, 237, 0.3);
  animation: float 8s ease-out infinite;
}

.bubble5 {
  position: absolute;
  bottom: 20px;
  left: 300px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(142, 46, 190, 0.948), 0 0 60px rgba(226, 205, 237, 0.3);
  animation: float 3s ease-in infinite;
}

.bubble6 {
  position: absolute;
  bottom: 10px;
  right: 300px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(142, 46, 190, 0.948), 0 0 60px rgba(226, 205, 237, 0.3);
  animation: float 11s ease-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30px, -20px);
  }
}

.memoji-container {
  position: relative; /* gör att skugga/bilder kan positioneras korrekt */
  border-radius: 50%;
  display:inline-block;
  background-color: white;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  overflow: hidden;
  width: 240px; 
  height: 240px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.memoji-img {
  height:110%;
  width: 110%;
  object-fit: cover; 
  display: block;
  margin-top: -20px;
}

@media (min-width: 740px) and (max-width: 1080px) {

.navbar-container {
  width: 90%;
  padding: 0 10px;
  margin-top: -20px; 
}

.nav-list{
  gap: 40px;
  font-size: 17px;
}

.sticky{
  width: 90%;
}

.logo-img {
  height: 130px;
}

.intro-text {
  font-size: 45px;
  color: white;
}

.memoji-container {
  width: 200px; 
  height: 200px;
}

.memoji-img {
  height:120%;
  width: 120%;
  margin: -15% 0 0 -2%;
}

/*Projects*/
.project-box{
  display: flex;
  padding: 20px; 
  height: 100px;
  width: 50px;
  background-color: green;
  border-radius: 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  align-items: center; 
}

#project-cards{
  height: 200px;
  width: 100px;
  padding: 20px;
  border-radius: 30%;
  background-color: green;

}
} 