.projects-title{
  font-size: 20px;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #111; /* mörkare än body, t.ex */
  border-radius: 10px;
}

.project-box {
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px #7f00ff;
  transition: transform 0.3s ease;
}

.project-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a855f7;
}

#project-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolumner */
  gap: 20px;
}

.project-icons-container{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

/* TECH-IKONER - gruppen till vänster */
.tech-icons {
  display: flex;
  gap: 9px;
  align-items: center;
}

.tech-icon{
  width: 24px;
  height: 24px;
  object-fit: contain; /* så att bilden inte blir utdragen */  
}

/* Enhetlig storlek för alla små tech-ikoner */
.tech-icons img,
.tech-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}

.team-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-left: auto;  
  flex-shrink: 0;     
  margin-right: 8px;  /* Lite luft från kanten */
}